/********** Base styles **********/
* {
  box-sizing: border-box;

}

body {
  font-size:16px;
}

h1 {
  height: 3.33%;
  margin-top:3.33%;
  margin-bottom: 3.33%;
  font-family: Arial;
  text-align: center;
  font-size: 1.75em ;
}


/* Simple Responsive Framework. */
.row {
  border: 2px;
  margin-right: auto;
  margin-left: auto;
  padding:5px;
}

.box {
  border: 1px solid black;
  background-color: gray;
  margin: 10px
  
}

/* Title of Paragraphs*/
.paragraphTitle{
    width: 116px;
    float: right;
    border: 1px solid black;
    text-align: center;
    font-size: 1.25em ;
    float: right;
    
}

#Chik{
  background-color: #E0B3B3;
}
#Beef{
  background-color: #D13F3F;
}

#Sushi{
  background-color:#E3D6A4;
}

.paragraph{
  margin: 10px;
  margin-top: 35px;
  font-family: Arial;
  color: black;
  clear: both;
  font-size: ;
  }



/*MEDIA for Desktop, Tablet and Mobile */

/********** Desktop devices only **********/
@media (min-width: 992px) {
 .col-lg-4 {
    position: relative;
    float: left;
    width: 33.33%;
    }
  }

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6,.col-md-12 {
    position: relative;
    float: left;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}


/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    position: relative;
    float: left;
    width:100%;  }
  
}